@model IEnumerable<NeadRosen.Models.Trabalho>

@{
    ViewData["Title"] = "Index";
}

<h1>Trabalhos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>Disciplina</th>
            <th>Seções</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @if (item.Disciplina != null)
                    {
                        @Html.DisplayFor(modelItem => item.Disciplina.Nome)
                    }
                    else
                    {
                        <p>Sem disciplina associada</p>
                    }
                </td>
                <td>
                    @if (item.Secoes != null && item.Secoes.Any())
                    {
                        @foreach (var secao in item.Secoes)
                        {
                            <label>
                                @Html.DisplayFor(model => secao.Titulo)
                            </label>
                            <br />
                        }
                    }
                    else
                    {
                        <p>Este trabalho não possui seção</p>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>